---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

I am a fluid dynamicists with a broad intereset in biological fluid dynamics, suspension dynamics, mixing and transport and pattern formation. I am particularly interested in the modelling of swimming microorganisms and their transport in complex flow environments such as the ocean. They present a unique challenge from a modelling perspective as they are often small enough to be considered Stokesian, but live inside high Reynolds number flow. I am also interested in the modelling of their collective behaviour and the emergence of large scale patterns due to their collective forcing on the large-scale flow. I use a combination of analytical and numerical techniques to study these problems.

Below listed some of my past and current research. Click on the title to read more about my work.

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

